<mat-toolbar color="primary">
<mat-toolbar-column>

    <span> Grafin sidemenu </span>
    <div fxFlex fxLayout="mat-toolbar-column" fxLayout="flex-end">
        <ul fxLayout="mat-toolbar-column" fxLayoutGap="20px">
            <li>
                <button mat-icon-button>
                    <mat-icon>settings</mat-icon>
                </button>
            </li>
            <li>
                <button mat-icon-button>
                    <mat-icon>help_outline</mat-icon>
                </button>
        </ul>

    </div>

</mat-toolbar-column>
</mat-toolbar>